body {padding: 0; margin: 0;}
      canvas {display:block;}    /* remove scrollbars */
      canvas:focus {outline:0;} /* remove blue outline around canvas */
      .fs {position:fixed; bottom:20px; right:20px;}
      #enter {display:block;}
      #exit {display:none;}
